# -------------------------
# OS / editor noise
# -------------------------
.DS_Store
*.swp
*.swo
*.tmp

# -------------------------
# Python / Jupyter
# -------------------------
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# -------------------------
# Other
# -------------------------
data/